<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand " href="/profile">
            Profile
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link active" href="/story">All Stories </a>
                <a class="nav-link active" href="/story/new">Add Story</a>
            </div>
            <div class="navbar-nav ms-auto">

                <% if(!currentLoggedInUser ) {%>
                    <a href="/register" class="nav-link active">Register</a>
                    <a href="/login" class="nav-link active">Login</a>
                    <% } else {%>
                        <a href="/logout" class="nav-link active">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>