<%- layout("layouts/boilerplate") %>

    <div class="alert alert-danger my-5">
        <h1>
            <%= err.message %>
        </h1>
        <% if(process.env.NODE_ENV !=="production" ){ %>
            <p>
                <%= err.stack %>
            </p>
            <% } %>
    </div>