<%- layout("layouts/boilerplate") %>

    <div class="alert alert-danger my-5">
        <h1>
            <%= err.message %>
        </h1>
        <p>
            <%= err.stack %>
        </p>
    </div>