/* .container{
    width: 100vw;
    height: 100vh;
}


.nav a{
    margin: 0, 2rem;
} */


 @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
  .body {
    min-height: 100vh;
    /* background: #212534; */
    /* background: #95d5b2; */
    background-image: url("../images/window.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;

  }
  
  
  .card {
    background: #001427;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    /* font-family: cursive; */
    font-family: 'Luxurious Roman', cursive;

  }
  
  .card:hover {
      /* background-color: rgb(45, 118, 201); */
      background-color: #081c15;
    color: rgb(241, 244, 245);
    transition: color 2s;
    transition: background-color 2s;
    box-shadow: black 5px 5px 10px;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #b1e33c 43%, #0965f0);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  .link{
    font-size: 2rem;
    /* color: #f4f5f8; */
    text-decoration: none;
    /* font-family: cursive; */
    font-family: 'Luxurious Roman', cursive;

    font-weight: bold;
    margin-top: 2rem;
    transition: color 1s;
  }

  .link:hover{
      color: white;
  }
  h6{
      color: #3c67e3;
  }

  @media(max-width:300px){
    
    .card{
      width: 200px;
    }
    .link{
      font-size: 1.5rem;
    }
  }